<%= render "layouts/shared/page_header",
title: @league_competition.competition.localized_name,
kicker: @league_competition.league.name,
crest: @league_competition.competition.emblem %>
<div class="max-w-[1400px] mx-auto pb-32 px-4 md:px-6 overflow-x-hidden">

  <%= render "hero", league_competition: @league_competition, current_user: Current.user %>

  <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-10 items-start">

    <%# SIDEBAR: Above on mobile, 4-cols on desktop %>
    <aside class="w-full lg:col-span-4 order-1 lg:order-2 lg:sticky lg:top-10 mb-10 lg:mb-0">
      <%= render "right_sidebar",
      league_competition: @league_competition,
      current_matchday: @current_matchday,
      active_tab: @active_tab %>
    </aside>

    <%# MAIN CONTENT: 8-cols on desktop, fluid center %>
    <main class="lg:col-span-8 order-2 lg:order-1 min-w-0 w-full">
      <%= render "matchday_ticker",
      league_competition: @league_competition,
      league: @league,
      date: @date,
      compare_user: @compare_user,
      predictions_map: Current.user.predictions_map(@matches),
      compare_predictions_map: @compare_user&.predictions_map(@matches),
      matches: @matches,
      request: request,
      params: params %>
    </main>

  </div>
</div>
