<%# app/views/leagues/show.html.erb %>
<%= render 'layouts/shared/page_header', 
    title: @league_competition.competition.name, 
    subtitle: t('.subtitle_template', year: @league_competition.year, matchday: @current_matchday),
    breadcrumbs: [ 
      { name: @league_competition.league.name, path: league_path(@league_competition.league) },
      { name: t('.your_standing_badge'), path: nil }
    ] %>

<div class="max-w-[1400px] mx-auto pb-32 px-6">

  <%# 1. TOP THREE HERO (Manifesto Level) %>
  <%= render 'hero', leaderboard: @league_competition.leaderboard, current_user: Current.user %>

  <%# 2. THE DUAL-COLUMN ARCHITECTURE %>
  <div class="flex flex-col lg:flex-row gap-10 items-start">

    <%# MAIN CONTENT: THE TICKER %>
    <main class="flex-1 w-full order-2 lg:order-1">
      <%= render 'matchday_ticker', 
          league_competition: @league_competition,
          current_matchday: @current_matchday,
          league: @league,
          compare_user: @compare_user,
          predictions_map: Current.user.predictions_map(@matches),
          compare_predictions_map: @compare_user&.predictions_map(@matches),
          matches: @matches,
          request: request,
          params: params
      %>
    </main>

    <%# SIDEBAR: THE STICKY SCOREBOARD %>
    <%= render 'right_sidebar', 
        league_competition: @league_competition,
        current_matchday: @current_matchday %>

  </div>
</div>
