<%# locals: (league_competition:, comment: nil) %>

<%= tag.div id: dom_id(league_competition, :comments_panel) do %>
  <div class="flex flex-col bg-white overflow-hidden">
    <div class="px-8 py-5 space-y-5 max-h-[320px] min-h-[200px] overflow-y-auto no-scrollbar" id="banter_list">
      <%= render league_competition.comments.ordered.ordered %>
    </div>

    <div class="px-8 py-5 bg-white border-t border-slate-50 shrink-0" id="comments_form">
      <%= render "comments/form", league_competition: league_competition %>
    </div>
  </div>
<% end %>
