default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  <% if ENV["DB_HOST"] %>
  host: <%= ENV["DB_HOST"] %>
  username: postgres
  password: postgres
  <% else %>
  host: localhost
  username: someuser
  password: somepass
  <% end %>

development:
  <<: *default
  database: boltaspa

test:
  <<: *default
  database: boltaspa_test

production:
  <<: *default
  database: boltaspa